*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
}
body{
    font-size: 18px;
    background-color: aliceblue;
    margin: 20px 20px;
}
header img{
    width: 40px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .iconCart{
    position: relative;
    z-index: 1;
    cursor: pointer;
}
header .totalquantity{
    position: absolute;
    top: 0;
    right: 10px;
    font-weight: 600;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50px;
    justify-content: center;
    text-align: center;
    display: flex;
    margin-top: 10px;  
}
.title{
    padding: 20px 0;
}
.listProduct .item img{
    width: 60%;
    height: 65%;
    filter: drop-shadow(0 15px 30px rgb(0,0,0,0.3));
}
.listProduct .item h2{
    font-weight: 600;
    font-size: 18px;
}
.listProduct{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5, 1fr);
    gap: 50px;
    height: 900px;
    margin-top: 50px;

}
.listProduct .item{
    position: relative;
}
.listProduct .item{
    background-color: rgba(225, 235, 235, 0.589);
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    line-height: 40px;
    box-shadow: 0 15px 30px rgb(0,0,0,0.5);
}
.listProduct .item:hover{
    width: calc(270px);
    height: calc(440px);
    box-shadow: 0 15px 30px rgba(56, 117, 209, 0.5);
}
.listProduct .item button{
    border: none;
    background-color: rgb(10, 86, 228);
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
    filter: drop-shadow(0 15px 30px rgb(0,0,0,0.3));
}
.listProduct .item button:hover{
    background-color: white;
    color: rgb(10, 86, 228);
}
h1{
    text-align: center;
}

.cart{
    background-color: rgba(129, 161, 175, 0.24);
    width: 30%;
    height: 90vh;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgb(0,0,0,0.5);

}
.cart h2{
    padding: 20px;
    margin: 0;
    text-align: center;
    font-size: 18px;
}
.cart .listCart .item{
    display: grid;
    grid-template-columns: 50px 1fr 70px;
    align-items: center;
    width: 103%;
    height: 100px;
    background-color: rgba(255, 140, 0, 0.212);
    border-radius: 10px;
    gap: 30px;
    box-shadow: 0 15px 30px rgb(0,0,0,0.3);
}
.listCart{
    width: 95%;
    height: 60px;
    margin-left: 5px;  
}
.cart .listCart img{
    width: 100%;
    height: 90px;
    margin-left: 10px;
    object-fit: cover;
    filter: drop-shadow(0 15px 30px rgb(0,0,0,0.8));
}
.cart .listCart .item .quantity{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: 50px;
    gap: 20px;
    justify-content: center;
    font-weight: bold;
}
.cart .listCart .item .quantity button{
    border-radius: 5px;
    height: 20px;
    padding: 5px 5px;
    font-size: 10px;
    font-weight: bold;

}
.cart .buttons div{
    background-color: rgb(0, 25, 78);
    color: white;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 15px;
}
.cart .buttons{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
.cart .buttons .close{
    border-bottom-left-radius: 10px;
}
.cart .buttons .close:hover{
    background-color: white;
    color: rgb(0, 25, 78);
    font-weight: bold;
}
.cart .buttons .checkout{
    border-bottom-right-radius: 10px;
}
.cart .buttons .checkout:hover{
    background-color: white;
    color: coral;
    font-weight: bold;
}
.cart .buttons .checkout{
    background-color: coral;
    color: white;
}
